@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap&family=Lalezar&family=Merienda:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
body {
  direction: rtl;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Rubik", cursive;
  background-color: #fff;
}
/* .................................................................... NAVBAR ............ */

.container-nav {
  width: 100vw;
  height: 50px;
  background-color: #242424;
  position: fixed;
  top: 0;
  z-index: 10;
}
.flex-nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.beforlogin-nav {
  height: 100%;
  width: 170px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.afterlogin-nav {
  height: 100%;
  width: 320px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.link-nav {
  text-decoration: none;
}
.item-nav {
  font-size: 0.8em;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.arm-nav {
  color: white;
  font-size: 1em;
  font-family: "merienda", Courier, monospace;
}
/* .....................................................................HOME............. */

.container-home {
  width: 100%;
  position: relative;
  top: 50px;
  background-color: #fff;
}
.flex-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.main-home {
  width: 100%;
  height: 60vh;
  margin-bottom: 50px;
  background-color: #933dc9;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.imgpack-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 90%;
}
.Arm-home {
  font-size: 2em;
  color: #fff;
  font-family: "Monoton";
}
.img-home {
  width: auto;
  height: 80%;
}
.mainadpage-home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.adbtn-home {
  height: 50px;
  width: 200px;
  border-radius: 30px;
  outline: none;
  border: 3px solid #fff;
  background-color: rgba(255, 222, 173, 0);
  color: #fff;
  font-size: 1.5em;
  font-family: "Lalezar";
  margin: 0 20px;
}
.ad-home {
  font-size: 2em;
  color: #fff;
  font-family: "Lalezar";
  margin: 10px 20px 0 0;
}

.content-home {
  width: 100%;
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.text-home {
  font-size: 2.2em;
  font-family: "lalezar", cursive;
  color: #53118f;
  margin: 20px 0 50px;
}
.search-home {
  width: 500px;
  height: 30px;
  outline: none;
  border: 2px solid #242424;
  border-radius: 5px;
  padding: 0 4px;
  font-size: 1em;
  font-family: "lalezar", cursive;
  margin-bottom: 100px;
}
.grid-home {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 30px;
  margin: 30px 0;
}
.itemlink-home {
  text-decoration: none;
}
.item-home {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  border: 5px solid #fff;
  box-shadow: 0px 1px 10px black;
  font-family: "poppins";
  text-decoration: none;
}
.itemimg-home {
  width: 100%;
  height: 175px;
  border-radius: 2px;
  text-decoration: none;
}
.itemtitle-home {
  font-size: 0.8em;
  color: black;
  direction: ltr;
  text-decoration: none;
}
.itemname-home {
  font-size: 0.7em;
  color: black;
  text-decoration: none;
}
.morebtn-home {
  width: 600px;
  height: 30px;
  font-size: 1em;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #242424;
  color: #fff;
  margin: 30px;
  font-family: "lalezar", cursive;
}

/* ....................................................................SINGLEPOST  */

.container-single {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  direction: ltr;
}
.main-single {
  width: 60%;
  box-shadow: 0px 1px 10px black;
  border-radius: 5px;
  margin: 10px 0 30px 0;
  padding: 10px;
}
.item-single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.img-single {
  width: 100%;
  margin: 10px 0px 20px 0px;
  border-radius: 5px;
}
.title-single {
  font-family: "poppins";
  margin: 10px 0;
}
.name-single {
  margin: 10px 0;
}
.body-single {
  margin: 10px 0;
}

.comments-single {
  width: 50%;
  margin: 10px;
  padding: 10px;
}
.singlecomment-single {
  background-color: #53118f;
  border-radius: 4px;
  box-shadow: 0px 0.01px 5px black;
  padding: 10px;
  margin: 20px 10px;
}
.commentname-single {
  color: #fff;
  font-size: 0.8em;
  margin: 5px 0;
}
.commentemail-single {
  color: #dddddd;
  font-size: 0.6em;
  margin: 5px 0;
}
.commentbody-single {
  color: #fff;
  font-size: 0.9em;
  margin: 5px 0;
}
.sendcomment-single {
  direction: rtl;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textarea-single {
  width: 30%;
  height: 100px;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 0.8em;
  resize: none;
  margin: 20px 0;
  border: 2px solid #ccc;
}
.submitbtn-single {
  width: 100px;
  height: 35px;
  border-radius: 4px;
  border: #ccc;
  background-color: #53118f;
  color: #fff;
  margin-bottom: 30px;
}

/* .....................................................................REGISTER ....... */

.container-register {
  width: 100%;
  height: calc(100vh - 50px);
  position: relative;
  top: 50px;
  background-color: #933dc9;
}
.flex-register {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-register {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  background-color: #fff;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 0.1px 20px #242424;
}
#signup-register {
  color: #53118f;
  font-size: 1.8em;
}
.lable-register {
  color: black;
  font-size: 0.8em;
  margin: 5px;
}
.usernamepack-register {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#username-register {
  border-radius: 4px;
  border: none;
  outline: none;
  width: 80%;
  height: 24px;
  padding: 0 0 0 4px;
  background-color: #f8f8f8;
  border: #ccc 2px solid;
  direction: ltr;
}
.emailpack-register {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#email-register {
  border-radius: 4px;
  border: none;
  outline: none;
  width: 80%;
  height: 24px;
  padding: 0 0 0 4px;
  background-color: #f8f8f8;
  border: #ccc 2px solid;
  direction: ltr;
}
.passwordpack-register {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#password-register {
  border-radius: 4px;
  border: none;
  outline: none;
  width: 80%;
  height: 24px;
  padding: 0 0 0 4px;
  background-color: #f8f8f8;
  border: #ccc 2px solid;
  direction: ltr;
}
#button-register {
  width: 60%;
  height: 24px;
  background-color: #933dc9;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 0 auto;
}
#button-register span {
  color: #fff;
  font-size: 1.4em;
}
.usernameerror-register {
  background-color: #53118f;
  color: #fff;
  padding: 1px;
  border-radius: 3px;
  font-size: 0.7em;
}
.emailerror-register {
  background-color: #53118f;
  color: #fff;
  padding: 1px;
  border-radius: 3px;
  font-size: 0.7em;
}
.passworderror-register {
  background-color: #53118f;
  color: #fff;
  padding: 1px;
  border-radius: 3px;
  font-size: 0.7em;
}
.question-register {
  font-size: 0.7em;
  color: #242424;
}
.questionlink-register {
  font-size: 1em;
  color: #933dc9;
}
/* .....................................................................LOGIN ............*/

.container-login {
  width: 100%;
  height: calc(100vh - 50px);
  position: relative;
  top: 50px;
  background-color: #933dc9;
}
.flex-login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-login {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  background-color: #fff;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 0.1px 20px #242424;
}
#signin-login {
  color: #53118f;
  font-size: 1.8em;
}
.lable-login {
  color: black;
  font-size: 0.8em;
  margin: 5px;
}
.usernamepack-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#username-login {
  border-radius: 4px;
  border: none;
  outline: none;
  width: 80%;
  height: 24px;
  padding: 0 0 0 4px;
  background-color: #f8f8f8;
  border: #ccc 2px solid;
  direction: ltr;
}
.passwordpack-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#password-login {
  border-radius: 4px;
  border: none;
  outline: none;
  width: 80%;
  height: 24px;
  padding: 0 0 0 4px;
  background-color: #f8f8f8;
  border: #ccc 2px solid;
  direction: ltr;
}
#button-login {
  width: 60%;
  height: 24px;
  background-color: #933dc9;
  border-radius: 5px;
  border: none;
  outline: none;
  margin: 0 auto;
}
#button-login span {
  color: #fff;
  font-size: 1.4em;
}
.usernameerror-login {
  background-color: #53118f;
  color: #fff;
  padding: 1px;
  border-radius: 3px;
  font-size: 0.7em;
}
.passworderror-login {
  background-color: #53118f;
  color: #fff;
  padding: 1px;
  border-radius: 3px;
  font-size: 0.7em;
}
.question-login {
  font-size: 0.7em;
  color: #242424;
}
.questionlink-login {
  font-size: 1em;
  color: #933dc9;
}
/* .................................................................... MAKEBLOG ........ */

.container-make {
  position: relative;
  height: calc(100vh - 50px);
  width: 100%;
  top: 50px;
  background-color: #933dc9;
}
.flex-make {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-make {
  min-height: 400px;
  width: 400px;
  border-radius: 10px;
  background-color: #fff;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 0px 10px #242424;
}
.pickimg-make {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5px;
}
.labelselect-make{
  font-size: 0.7em;
}
.select-make{
  width: 100px;
  height: 20px;
}
.option-make{
  width: 100%;
  height: 100%;
}

.titlepick-make {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: flex-start;
  padding: 5px;
}
.titletext-make {
  font-size: 1em;
  width: 100%;
}
.titleinput-make {
  width: 100%;
  height: 23px;
  margin: 2px auto;
  padding: 2px;
}
.bodypick-make {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: flex-start;
  padding: 5px;
}
.bodytext-make {
  font-size: 1em;
  width: 100%;
}
.bodytextarea-make {
  width: 100%;
  height: 200px;
  resize: none;
  margin: 2px auto;
  padding: 2px;
}
.submitmake-make {
  width: 80%;
  height: 25px;
  border-radius: 4px;
  background-color: #933dc9;
  color: #fff;
  outline: none;
  border: none;
  margin: 5px 0;
}
/* ..................................................................... YOUR BLOG...... */

.container-your{
  width: 100%;
  height: 100%;
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-your{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.profile-your{
  width: 100vw;
  height: 200px;
  direction: ltr;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #933dc9;
}
.name-your{
  font-size: 1.8em;
  color: #fff;
  margin:  0 0 10px 0;
}
.email-your{
  font-size: 1em;
  color: #fff;
}
.content-your{
  width: 100%;
  height: 100%;
  display:grid;
  grid-template-columns: repeat(4 , 1fr);
  padding: 50px 100px;
}
.itemlink-your{
  text-decoration: none;
}
.item-your{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 10px;
}
.itemimg-your{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 0.1px 0px 10px #525252 ;
}
.itemtitle-your{
  color: black ;
  margin: 4px 0 ;
}

/* .................................................................... SINGLEMYPOST .... */

.container-singlemy{
  width: 100%;
  height: 100%;
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.main-singlemy{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 0px 10px #525252;
  border-radius: 5px;
  padding: 10px;
}
.image-singlemy{
  border-radius: 5px;
  margin: 10px;
  width: 80%;
  height: auto;
}
.title-singlemy{
  font-size: 1.2em;
  margin: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
}
.name-singlemy{
  font-size: 1em;
  margin: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
}
.body-singlemy{
  font-size: 0.9em;
  margin: 12px;
  width: 100%;
  word-wrap: break-word;
  direction: ltr;
}
/* .................................................................... NOT-FOUND........ */

.container-notfound{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 2px;
}

.notfound{
  font-size: 2.5em;
  color: red;
}



/* .....................................................................responsive....... */

@media screen and (max-width: 1000px) {
  .item-nav {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .link-nav {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .afterlogin-nav {
    width: 340px;
    font-size: 0.9em;
  }
  .imgpack-home {
    width: 380px;
  }
  .grid-home {
    width: 80%;
  }
  .morebtn-home {
    height: 35px;
    width: 500px;
  }
  .main-single {
    width: 75%;
  }
  .comments-single {
    width: 70%;
  }
  .textarea-single {
    width: 40%;
  }
  .content-your{
    grid-template-columns: repeat(3,1fr);
    padding: 50px 50px;
  }
  .main-singlemy{
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .imgpack-home {
    width: 320px;
  }
  .img-home {
    width: 320px;
  }
  .Arm-home {
    font-size: 1.6em;
  }
  .ad-home {
    font-size: 1.5em;
  }
  .grid-home {
    width: 70%;
    grid-template-columns: repeat(2, 1fr);
  }
  .morebtn-home {
    height: 40px;
    width: 400px;
  }
  .main-single {
    width: 85%;
  }
  .comments-single {
    width: 80%;
  }
  .textarea-single {
    width: 50%;
    height: 120px;
  }
  .submitbtn-single .sendbtn-single {
    height: 40px;
    width: 110px;
  }
  .content-your{
    grid-template-columns: repeat(2,1fr);
    padding: 25px 25px;
  }
  .main-singlemy{
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  body {
    font-size: 18px;
  }
  .imgpack-home {
    width: 280px;
    height: auto;
  }
  .img-home {
    height: auto;
    width: 280px;
  }
  .adbtn-home {
    margin: 0 10px 0 0;
  }
  .ad-home {
    margin: 10px 20px 0 0;
  }
  .main-singlemy{
    width: 90%;
  }
  .image-singlemy{
    width: 90%;
  }
  .notfound{
    font-size: 2em;
  }
}

@media screen and (max-width: 500px) {
  .container-nav {
    height: 60px;
  }
  .flex-nav {
    padding: 0 5px;
  }
  .container-home {
    top: 60px;
  }
  .main-home {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .imgpack-home {
    order: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .img-home {
    display: none;
  }
  .Arm-home {
    font-size: 2em;
    padding: 10px;
  }
  .mainadpage-home {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .adbtn-home {
    margin: 0;
  }
  .ad-home {
    margin: 10px 0;
  }
  .grid-home {
    width: 60%;
    grid-template-columns: repeat(1, 1fr);
  }
  .search-home {
    width: 380px;
  }
  .morebtn-home {
    height: 40px;
    width: 350px;
  }
  .container-single {
    top: 60px;
  }
  .main-single {
    width: 95%;
  }
  .comments-single {
    width: 90%;
  }
  .textarea-single {
    width: 60%;
    height: 130px;
  }
  .submitbtn-single .sendbtn-single {
    height: 50px;
    width: 120px;
  }
  .container-register {
    height: calc(100vh - 60px);
    top: 60px;
  }
  .container-login {
    height: calc(100vh - 60px);
    top: 60px;
  }
  .container-make {
    height: calc(100vh - 60px);
    top: 60px;
  }
  .main-make {
    width: 90%;
  }
  .container-your{
    top: 60px;
  }
  .container-singlemy{
    top: 60px;
  }
  .notfound{
    font-size: 1.7em;
  }
}

@media screen and (max-width: 400px) {
  .item-nav{
    font-size: 0.7em;
  }
  .flex-nav {
    justify-content: center;
  }
  .arm-nav {
    display: none;
  }
  .grid-home {
    width: 70%;
    grid-template-columns: repeat(1, 1fr);
  }
  .Arm-home {
    font-size: 1.5em;
  }
  .search-home {
    width: 250px;
  }
  .morebtn-home {
    height: 40px;
    width: 200px;
  }
  .comments-single {
    width: 100%;
  }
  .textarea-single {
    width: 70%;
    height: 130px;
  }
  .submitbtn-single .sendbtn-single {
    height: 60px;
    width: 140px;
  }
  .content-your{
    grid-template-columns: repeat(1,1fr);
    padding: 25px 25px;
  }
  .main-singlemy{
    width: 95%;
  }
  .notfound{
    font-size: 1.4em;
  }
}
